.App {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#054164, #152238);
    display: flex;
    flex-direction: column;
    color: white;
}

.personal-links {
    display: flex;
    justify-content: flex-end;
    column-gap: 26px;
    padding: 26px;
    font-size: 26px;
}

.link {
    color: white;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.linkedin-link {
    &:hover {
        color: #0077b5;
    }
}

.github-link {
    &:hover {
        color: #6cc644;
    }
}

.email-link {
    &:hover {
        color: #ffca0a;
    }
}

.App-intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 52px;
}

.App-name {
    font-size: 72px;
}

.App-subtitle {
    user-select: none;
    font-size: 26px;
}

.description-highlight {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
        color: #ADD8E6;
    }
}
